# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/

# Prisma
prisma/migrations/

# Uploads
uploads/

# Logs
*.log

# Editor directories and files
!.vscode/extensions.json
!.vscode/settings.json

# AI
.claude/